---
import { CounterController } from "../components/CounterController";
import { CounterDisplay } from "../components/CounterDisplay";
import Layout from "../components/Layout.astro";
import { SimpleText } from "../components/SimpleText";

export const prerender = true;
---

<Layout title="Load the component on scroll">
  <main class="flex flex-col gap-8">
    <div class="h-[100vh] flex place-content-center items-center">
      Scroll me
    </div>

    <div class="flex flex-col gap-2 w-min">
      <CounterDisplay client:visible />
      <CounterController client:visible />
      <SimpleText client:visible />
    </div>

    <a href="/ssr">Go to SSR</a>
  </main>
</Layout>
