---
import { CounterController } from "../components/CounterController";
import { CounterDisplay } from "../components/CounterDisplay";
import Layout from "../components/Layout.astro";
import { SimpleText } from "../components/SimpleText";

export const prerender = true;
---

<Layout title="This page is static">
  <main class="flex flex-col gap-8">
    <div class="flex flex-col gap-2 w-min">
      <CounterDisplay />
      <CounterController />
      <SimpleText />
    </div>

    <a href="/scrollme">Go to scrollme page</a>
  </main>
</Layout>
